body {
    text-align: center;
    background-color: none;
    cursor: default;
}



.b{
    cursor:grab
}


.ui-state-disabled{
    opacity:1 !important;
    background-color: aqua !important;
}
